<template>
   <button @click="toggleFriendshipStatus">
        {{ getText }}
    </button>
</template>

<script>
import axios from "axios"

    export default {
         props:{
            recipient: {
                type: Object,
                required: true
            }
        },
        data: () =>({
            friendshipStatus: ''
        }),
        created(){
            axios.get(`/friendships/${this.recipient.name}`)
                .then(res => {
                    this.friendshipStatus = res.data.friendship_status
                })
        },
        methods:{
            toggleFriendshipStatus(){

                this.redirectIfGuest();

                let method = this.getMethod();

                axios[method](`friendships/${this.recipient.name}`)
                    .then(res => {
                       this.friendshipStatus = res.data.friendship_status;
                    })
                    .catch(err => {
                        console.log(err.data)
                    })

            },
            getMethod(){
                if(this.friendshipStatus === "pending" || this.friendshipStatus === "accepted"){
                    return "delete"
                }else{
                    return "post"
                }
            },
        },
        computed: {
            getText(){
                if(this.friendshipStatus === "pending")
                {
                    return "Solicitud enviada"
                }
                if(this.friendshipStatus === "accepted")
                {
                    return "Eliminar de mis amigos"
                }
                if(this.friendshipStatus === 'denied')
                {
                    return 'Solicitud denegada';
                }

                return 'Solicitar amistad'
            }
        }

    }
</script>

<style lang="scss" scoped>

</style>
