<template>
    <div>
        <form @submit.prevent="submit" v-if="isAuthenticated">
            <div class="card-body">
                <textarea v-model="formData.body"
                          class="form-control border-0"
                          name="body" id="body"
                          cols="5"
                          rows="5"
                          :placeholder="`Que estas pensando ${currentUser.name} ?`"></textarea>

                          <file-pond
                            name="imagenes"
                            ref="pond"
                            label-idle="Arrastra aquí tus archivos aqui ..."
                            max-file="4"
                            allow-multiple="true"
                            instant-upload="false"
                            v-on:updatefiles="handleFilePondUpdateFile"
                            v-on:init="handleFilePondInit"
                            class="mt-2"
                          />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"><i class="fa fa-paper-plane mr-1"></i> Publicar</button>
            </div>
        </form>
        <div v-else class="card-body">
            <a href="/login"><p>Debes iniciar sesión para poder publicar</p></a>
        </div>
        <!-- <div v-for="status in statuses" v-text="status.body"></div> -->
    </div>
</template>

<script>

    /* Importar la libreia de Filepond para Vue */

    import vueFilePond from 'vue-filepond';

    /* Importar los estilos css de Filepond */

    import 'filepond/dist/filepond.min.css';

    /* Importar los estilos css de Filepond */

    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';

    /* Creamos el componente */

    const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);


    export default {
        components: {
            FilePond
        },
        data() {
            return {
                myFiles: [],
                formData: {
                    body: '',
                }
            }
        },
        methods: {
            //Manejo de un array de imagenes
            handleFilePondUpdateFile(files){
                this.myFiles = files.map(files => files.file)
            },
            submit() {

                const formData = new FormData();

                formData.append('body', this.formData.body);

                for (var i=0; i < this.myFiles.length; i++) {
                    let file = this.myFiles[i];
                    formData.append("files[" + i + "]", file);
                }

                axios.post('/statuses', formData)
                    .then(res => {
                        EventBus.$emit('status-created', res.data.data);
                        this.formData.body = '';
                        this.myFiles = [];
                    })
                    .catch(err => {
                        console.log(err.response.data)
                    })
            },
            handleFilePondInit : function(){
                console.log('FilePond has initialized');
            }
        }

    }
</script>

<style lang="scss" scoped>

</style>
