<template>
    <!-- 1 <div class="card border-0 mb-3 shadow-sm" v-for="status in statuses" v-text="status.body"></div> -->
        <div class="card border-0 mb-3 shadow-sm">
            <div class="card-body d-flex flex-column">
                <div class="d-flex align-items-center mb-3">
                    <img class="rounded mr-3 shadow-sm" width= "80px" :src="status.user.avatar" :key="status.user.name">
                    <div>
                        <h5 class="mb-1"><a :href="status.user.link" v-text="status.user.name"></a></h5>
                        <div class="small text-muted" v-text="status.ago"></div>
                    </div>
                </div>
                <p class="card-text text-secondary" v-text="status.body"></p>
                <div class="images mb-2">
                    <div v-for="image in images">
                        <div class="item">
                            <img :src="`/storage/media/${status.id}/${image.file_name}`" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-2 d-flex justify-content-between align-items-center">

                <like-btn
                    :url="`/statuses/${status.id}/likes`"
                    :model="status"
                ></like-btn>

                <div class="text-secondary mr-2">
                    <i class="far fa-thumbs-up"></i>
                    <span>{{ status.likes_count }}</span>
                </div>

            </div>

            <div class="card-footer pb-0" v-if="isAuthenticated || status.comments.length" >

                <comment-list
                    :comments="status.comments"
                    :status-id="status.id"
                ></comment-list>

               <comment-form
                    :status-id="status.id"
               ></comment-form>

            </div>

        </div>

</template>

<script>

    import LikeBtn from './LikeBtn.vue';
    import CommentList from './CommentList.vue';
    import CommentForm from './CommentForm.vue';

    export default {
        props:{
            status: {
                type: Object,
                required: true
            }
        },
         data(){
            return {
                images: this.status.images
            }
        },
        components: {
            LikeBtn,
            CommentList,
            CommentForm
        },
        mounted(){
            window.Echo.channel(`statuses.${this.status.id}.likes`)
                .listen('ModelLiked', e => {
                    this.status.likes_count++;
                });
            window.Echo.channel(`statuses.${this.status.id}.likes`)
                .listen('ModelUnliked', e => {
                    this.status.likes_count--;
                });
        }

    }
</script>

<style lang="scss" scoped>

    .comments-like-btn{
        font-size: 0.6em;
        padding-left: 0;
        i {display:none}
    }

    .item {
        width: 100px;
        float: left;
    }
    .item img {
        display: block;
        width: 100%;
        padding: 0px 2px 0px 2px;
    }


</style>
